## Import Libraries & Data

In [31]:
# import libraries
import pandas as pd
import numpy as np
import os

In [32]:
# establish path to project folder
path = r'C:\Users\BrianDavis\OneDrive - abetterchicago.org\Documents\Data Analysis\Achievement 5 (Python)\04-2023 Instacart Basket Analysis'

In [33]:
# import "order_products_prior" file
df_ords_prior = pd.read_csv(os.path.join(path,'02 Data','Original Data','order_products_prior.csv'), index_col = False)

In [34]:
# import "orders wrangled clean" file
df_ords = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_clean_wrangled.csv'), index_col = False)

## Manipulate & Merge Data

In [35]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [36]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [37]:
df_ords_prior.shape

(32434489, 4)

In [38]:
df_ords.shape

(3421083, 7)

In [39]:
#merge data sets
df_ords_merged = df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner', indicator = True)

In [40]:
df_ords_merged

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,3421081,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,3421081,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,3421081,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,3421081,2977660,206209,13,1,12,7.0,22920,9,0,both

In [41]:
df_ords_merged['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## Export Data files

In [42]:
df_ords_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))