# Import Libraries and Data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# establish path to project folder
path = r'C:\Users\BrianDavis\OneDrive - abetterchicago.org\Documents\Data Analysis\Achievement 5 (Python)\04-2023 Instacart Basket Analysis'

In [3]:
# import "orders_products_combined" pkl file
df_ords_prods_merged = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined_final.pkl'))

# Manipulate Data (Exercise 5.7 Walk-through)

In [4]:
df = df_ords_prods_merged[:1000000]

### creating new variables

In [5]:
#define new function to create price ranges

def price_label(row):
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] >5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [6]:
# apply price label range to dataframe
df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\BrianDavis\AppData\Local\Temp\ipykernel_33596\2785964987.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [7]:
#count values of price label ranges
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

### creating new variables using loc functions

In [28]:
#establish conditions
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [9]:
#establish conditions
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [10]:
#establish conditions
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [11]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range_loc, dtype: int64

In [12]:
# apply logic above to entire dataframe
#establish conditions
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
#establish conditions
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
#establish conditions
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] < 5, 'price_range_loc'] = 'Low-range product'

In [15]:
df_ords_prods_merged['price_range_loc'].value_counts()

Mid-range product     21861558
Low-range product      9904846
High-range product      412551
Name: price_range_loc, dtype: int64

### creating for-loops

In [16]:
# print frequency of the days most orders took place
df_ords_prods_merged['order_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_week, dtype: int64

In [17]:
#create for-loop to classify days as busiest vs. least busy

result = []

for value in df_ords_prods_merged['order_day_of_week']:
    if value == 0:
        result.append("Busiest Day")
    elif value == 4:
        result.append("Least busy")
    else:
        result.append("Regularly busy")

In [18]:
#merge results column from above into dataframe
df_ords_prods_merged['busiest_day'] = result

In [19]:
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest Day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# Assignment 5.7

### Step 2- Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [20]:
#create a new for-loop to classify the two busiest days and two slowest days

result_2 = []

for value in df_ords_prods_merged['order_day_of_week']:
    if value in [0, 1]:
        result_2.append('Busiest Days')
    elif value in [3, 4]:
        result_2.append('Slowest Days')
    else:
        result_2.append('Regularly Busy')

In [21]:
#merge the results from above into the dataframe

df_ords_prods_merged['busiest_days'] = result_2

### Step 3 - Check the values of this new column for accuracy. Note any observations in markdown format.

In [22]:
#count values of busiest days column
df_ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly Busy    12916111
Busiest Days      11864412
Slowest Days       7624336
Name: busiest_days, dtype: int64

#### Observations: the number of regularly busy days predictably decreased, as only 3 days are classified as such (vs 5 above)

### step 4 - When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [23]:
#count values of "order_hour_of_day" column to determine busiest and least busy periods of time
df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

#### Observations: the top-five busiest hours of the day are 10am, 11am, 2pm, 3pm and 1pm; the top-five least busy hours of the day are 1am, 5am, 2am, 4am, 3am

In [24]:
#create a for-loop to classify the busiest periods of the day

result_3 = []

for values in df_ords_prods_merged['order_hour_of_day']:
    if values in [10, 11, 14, 15, 13]:
        result_3.append('Most Orders')
    elif values in [1, 5, 2, 4, 3]:
        result_3.append('Fewest Orders')
    else:
        result_3.append('Average Orders')

In [25]:
#merge the results from above into the dataframe
df_ords_prods_merged['busiest_periods'] = result_3

### step 5 - Print the frequency for this new column.

In [26]:
df_ords_prods_merged['busiest_periods'].value_counts()

Average Orders    18517166
Most Orders       13510134
Fewest Orders       377559
Name: busiest_periods, dtype: int64

#### Observations: "Average Orders" was the most common entry, with over 1.85m, followed by Most Orders with 1.35m and Fewest Orders with just 375k

# Export Data

In [27]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined_final_new_variables.pkl'))